.grid-container {
    display: grid;
    grid-template-rows: auto auto auto auto auto auto auto auto auto auto;
    height: 100%;
}

.head {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-row-start: 1;
    grid-row-end: 1;
    }

.body-1 {
    grid-row-start: 2;
    grid-row-end: 5;
    }

.body-2 {
    grid-row-start: 6;
    grid-row-end: 9;
    }

.bottom {
    grid-row-start: 9;
    grid-row-end: 10;
    }

.logo {
    grid-column-start: 1;
    grid-column-end: 1;
    color: blue;
    }

.nav {
    display: grid;
    grid-column: 4;
    grid-template-columns: repeat(4, 1fr);
    grid-rows: auto;
    align-items: center;
    align-text: center;
    background: #f5b7b1;
    }

.1 {
    grid-column: 1;
    border: 5px solid black;
}

.2 {
    grid-column: 2;
}

.3 {
    grid-column: 3;
}

.4 {
    grid-column: 4;
}

.5 {
    grid-column: 5;
    align-items: center;
    align-text: center;
}

.navItem {
    text-transform: uppercase;
    color: black;
    align-items: center;
    align-text: center;
}

.navItem:hover {
    background: white;
}

